html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    background-color: whitesmoke;
}

@font-face {
    font-family: 'Helvetica';
    src: url("fonts/helvetica_bold.otf");
    src: url("fonts/helvetica_boldoblique.otf");
    src: url("fonts/helvetica_cyr_boldoblique.ttf");
    src: url("fonts/helvetica_cyr_oblique.ttf");
    src: url("fonts/helvetica_light.otf");
    src: url("fonts/helvetica_lightoblique.otf");
    src: url("fonts/helvetica_oblique.otf");
    src: url("fonts/helvetica_regular.otf");
}

.main__wrapper {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: calc(50px + (90 - 50) * ((100vw - 540px) / (1920 - 540))) ;
    grid-row-gap: calc(60px + (100 - 60) * ((100vw - 540px) / (1920 - 540))) ;
    font-family: Helvetica;
}

.title__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-text {
    font-size: calc(16px + (20 - 16) * ((100vw - 540px) / (1920 - 540)));
}

.left-plate {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-plate {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.my-photo {
    border-radius: 100%;
    width: calc(220px + (300 - 220) * ((100vw - 540px) / (1920 - 540)));
    justify-self: center;
    align-self: center;
}

.title__wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    padding-top: calc(70px + (120 - 70) * ((100vw - 540px) / (1920 - 540)));
}

.title {
    display: flex;
    flex-direction: column;
}

.first-name {
    color: grey;
    font-size: calc(40px + (60 - 40) * ((100vw - 540px) / (1920 - 540)));
}

.last-name {
    color: darkseagreen;
    font-weight: bold;
    font-size: calc(70px + (90 - 70) * ((100vw - 540px) / (1920 - 540)));
    line-height: calc(70px + (80 - 70) * ((100vw - 540px) / (1920 - 540)));
}

.qualification {
    font-size: 20px;
    color: grey;
    line-height: calc(40px + (70 - 40) * ((100vw - 540px) / (1920 - 540)));
}

.links__wrapper {
    display: flex;
    align-items: flex-end;
    width: 25%;
    justify-content: flex-end;
    height: calc(30px + (40 - 30) * ((100vw - 540px) / (1920 - 540)));
    align-self: flex-end;
}

.links__wrapper a {
    height: 100%;
    text-align: center;
    font-size: calc(10px + (16 - 10) * ((100vw - 540px) / (1920 - 540)));
}

.links__wrapper img {
    height: 100%;
}

.telegram-icon {
    width: 90%;
}

.linkedin-icon {
    width: 90%;
}

.sub-title__wrapper {
    width: 100%;
    flex-direction: row;
    display: flex;
    border-top: 2px solid rgba(128, 128, 128, .3);
    justify-content: space-between;
    margin-top: calc(30px + (65 - 30) * ((100vw - 540px) / (1920 - 540)));
    padding-top: 5px;
}

.sub-title__box {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    color: grey;
    width: 24%;
}

.sub-title {
    font-size: calc(17px + (20 - 17) * ((100vw - 540px) / (1920 - 540)));;
    font-weight: bold;
}

.objective-title__wrapper {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    color: grey;
    align-items: flex-end;
}

.objective-title {
    font-weight: bold;
    font-size: calc(27px + (35 - 27) * ((100vw - 540px) / (1920 - 540)));
    text-align: end;
}

.objective-title__text {
    margin-top: calc(15px + (20 - 15) * ((100vw - 540px) / (1920 - 540)));
    font-size: calc(17px + (20 - 17) * ((100vw - 540px) / (1920 - 540)));
    text-align: end;
}

.objective-text {
    color: grey;
    width: 90%;
    font-size: calc(20px + (25 - 20) * ((100vw - 540px) / (1920 - 540)));
    line-height: calc(35px + (41 - 35) * ((100vw - 540px) / (1920 - 540)));
}

.unity {
    color: darkseagreen;
}

.experience-title__wrapper {
    display: flex;
    flex-direction: column;
    color: grey;
    align-items: flex-end;
}

.experience__wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: grey;
}

.experience-title__main {
    font-weight: bold;
    font-size: calc(27px + (35 - 27) * ((100vw - 540px) / (1920 - 540)));
}

.experience__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience__sub-box {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.experience__subtitle {
    color: darkseagreen;
    margin: 30px 0;
    font-weight: bold;
    font-size: calc(20px + (25 - 20) * ((100vw - 540px) / (1920 - 540)));
}

.experience__text {
    font-size: calc(20px + (25 - 20) * ((100vw - 540px) / (1920 - 540)));
    line-height: calc(35px + (41 - 35) * ((100vw - 540px) / (1920 - 540)));
}

.education-title__wrapper {
    display: flex;
    flex-direction: column;
    color: grey;
    align-items: flex-end;
}

.education__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    color: grey;
}

.education-title {
    color: darkseagreen;
    font-weight: bold;
    font-size: calc(27px + (35 - 27) * ((100vw - 540px) / (1920 - 540)));
}

.education__sub-title {
    margin: 20px 0;
    font-weight: bold;
    font-size: calc(20px + (25 - 20) * ((100vw - 540px) / (1920 - 540)));
}

.education-text {
    font-size: calc(15px + (20 - 15) * ((100vw - 540px) / (1920 - 540)));
}

.additional-title__wrapper {
    display: flex;
    flex-direction: column;
    color: grey;
    align-items: flex-end;
}

.additional__wrapper {
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5%;
    color: grey;
}

.additional__box-wrapper {
    width: 45%;
    flex-direction: column;
}

.additional__box {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.number {
    width: 10%;
    font-size: calc(20px + (25 - 20) * ((100vw - 540px) / (1920 - 540)));
    color: darkseagreen;
    font-weight: bold;
}

.text__box {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.additional-text__title {
    font-weight: bold;
    font-size: calc(20px + (25 - 20) * ((100vw - 540px) / (1920 - 540)));
    margin-bottom: 5px;
}

.skills {
    font-size: calc(20px + (25 - 20) * ((100vw - 540px) / (1920 - 540)));
    line-height: calc(35px + (41 - 35) * ((100vw - 540px) / (1920 - 540)));
}

.bottom {
    grid-column-gap: 10%;
    grid-template-columns: 1fr 1fr;
}


.additional-title__sub-wrapper {
    display: flex;
    color: grey;
    justify-content: flex-end;
    font-size: calc(17px + (20 - 17) * ((100vw - 540px) / (1920 - 540)));;
}

.sub-title__sub-box-first {
    height: 30%;
    display: flex;
    align-items: flex-start;
}

.sub-title__sub-box-second {
    height: 60%;
    display: flex;
    align-items: flex-start;
}

.additional-text {
    font-size: calc(20px + (25 - 20) * ((100vw - 540px) / (1920 - 540)));
    line-height: calc(35px + (41 - 35) * ((100vw - 540px) / (1920 - 540)));
}

.number-one {
    width: 5%;
}

.number-two {
    width: 93%;
}

/*.calc(60px + (70 - 60) * ((100vw - 541px) / (1920 - 320)));*/
